@font-face {
  font-family: Lato;
  src: url(./assets/Lato-Regular.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Lato, sans-serif;
  background-color: lightgray;
  height:100%;
}

header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  padding-bottom:5rem;
}
header button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  transition:100ms;
}

header button:hover {
  color: red;
  font-size: 2.3rem;
  letter-spacing: -4px;
  transition: 500ms;
}

main {
    display:flex;
    justify-content:space-around;
    padding-top:5rem;
}

#player1, #player2 {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:20%;
    border-radius:30px;
    transition:200ms;
}

#totalScorePlayer1, #totalScorePlayer2 {
    font-size:100px;
    color:rgb(24, 190, 149);
}

#currentBoxPlayer1, #currentBoxPlayer2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding:0px 40px 0px 40px;
    margin-top:5rem;
    font-size:1.2rem;
}

#diceZone button {
    
    border:none;
    background:none;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:2rem;
    transition:100ms;
}

#diceZone button:hover {
  font-size:2.1rem;
  color:darkblue;
  transition:300ms;
}
#diceZone {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:space-evenly;
  gap:5rem;
}
#diceZone img:not(button img) {
  width: 200px;
  height:200px;
}
#diceZone button img {
  width:40px;
  height:auto;
}

.activePlayer {
  color:white;
  background: rgb(154,34,195);
background: linear-gradient(0deg, rgba(154,34,195,1) 0%, rgba(214,118,118,1) 100%);
transform:scale(1.1);
transition:200ms;
}